.Button {
    background-color: #3086e3;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1px;
    /* width: calc(100%); */
    width: 2rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.Button:hover {
    background-color: #60a6e3;
}

.Button:active {
    background-color: #1056e3;
}