.Button {
    background-color: #12549b;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px;
    display: inline-block;
}

.Button:hover {
    background-color: #60a6e3;
}

.Button:active {
    background-color: #1056e3;
}


.Control {
    height: 2.25rem;
    width: 2.25rem;
    font-size: large;
    font-weight: bold;
}

.Menu {
    height: 2rem;
    margin: 2px 0;
    width: 100%;
}

.Normal {
    width: 5rem;
    height: 1.75rem;
    display: block;
}

.Next {
    height: 2rem;
    width: 60%;
    max-width: 200px;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(255, 81, 81);
}

/* 
.Small {
    font-size: x-small;
}

.Large {
    font-size: large;
}

.XLarge {
    font-size: x-large;
}

.XXLarge {
    font-size: xx-large;
} */

.On,
.On:active,
.On:hover {
    background-color: #e33045;
    color: black;
}