.Button {
    background-color: #3086e3;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1px;
    display: inline-block;
}

.Button:hover {
    background-color: #60a6e3;
}

.Button:active {
    background-color: #1056e3;
}

.Normal {
    width: 5rem;
    height: 1.75rem;
    display: block;
}

.Next {
    height: 2rem;
    font-weight: bold;
}

.Small {
    font-size: x-small;
}

.Large {
    font-size: large;
}

.XLarge {
    font-size: x-large;
}

.XXLarge {
    font-size: xx-large;
}

.On,
.On:active,
.On:hover {
    background-color: #e33045;
    color: black;
}