.Square {
    border: 1px solid black;
    height: 4rem;
    width: 4rem;
    box-sizing: border-box;
    margin: 0px 2px;
    display: inline-block;
}

.Blue {
    background-color: blue;
}

.Red {
    background-color: red;
}

