.App {
  min-width: 300px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(247, 255, 249);
  font-family: sans-serif;
  font-size: 14px;
}

.Top {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Title {
  font-size: 2rem;
  padding: 8px;
}

.GameId {
  font-size: 0.80rem;
}

.GridContainer {
  overflow: hidden;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
}

.CenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.NextButton {
  overflow: hidden;
  height: 10vh;
  z-index: 100;
  margin: 1rem;
}


.Row {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ControlBar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: inherit;
  /* background-color: rgba(229, 231, 219, 1);
  border-top: 2px solid rgba(0, 0, 0, 0.25); */
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0rem;
  align-items: top;
  height: 20vh;
  width: 100%;
}

.ControlRow {
  display: flex;
  justify-content: center;
}

.Score {
  text-align: left;
  margin: 0 auto;
  font-size: 0.8rem;
  /* border: 2px solid rgba(0, 0, 0, 0.25); */
  padding: 6px;
  border-radius: 4px;
  width: 60vw;
  height: 60%;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

.Spacer {
  width: 4rem;
}

.Panel {
  width: 25vw;
  justify-content: left;
  align-items: top;
  display: flex;
  flex-direction: column;
}

.Panel p {
  margin: 2px;
  font-size: smaller;
}

.TargetTitle {
  font: 1rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .Title {
    font-size: 3rem;
  }

  .Score {
    font-size: 1.25rem;
  }

  .GameId {
    font-size: 1rem;
  }
}