.App {
  min-width: 300px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(247, 255, 249);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Score {
  text-align: left;
  margin: 0 auto;
  width: 50vw;
  border: 2px solid rgba(0, 0, 0, 0.25);
  padding: 6px;
  border-radius: 4px;
}

.GameId {
  font-size: 0.75rem;
}

.Message {
  height: 5vh;
}

.Grid {
  border: 2px solid black;
  padding: 2px;
}

.GridContainer {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.NextButton {
  height: 10vh;
  z-index: 100;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 65vh; */
}

.Row {
  margin: 0px;
}

.ControlBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(229, 231, 219, 1);
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0rem;
  align-items: center;
  min-height: 20vh;
}

.Panel {
  width: 25vw;

}

.Panel p {
  margin: 2px;
  font-size: smaller;
}

.TargetTitle {
  font: 1rem;
  font-weight: bold;
}
